.flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  position: absolute;
  top: -100px; /* Start off-screen */
  left: 15px;
  z-index: 1000;
  opacity: 0; /* Start invisible */
  animation: flashSlideDown 0.5s forwards, flashStay 5s 0.5s forwards, flashSlideUp 0.5s 5.5s forwards;
}

.flash.notice {
  background-color: #e6ffed;
  color: #0b8008;
}

.flash.alert {
  background-color: #ffe6e6;
  color: #800808;
}

@keyframes flashSlideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 15px;
    opacity: 1;
  }
}

@keyframes flashStay {
  from {
    top: 15px;
  }
  to {
    top: 15px;
  }
}

@keyframes flashSlideUp {
  from {
    top: 15px;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}
